<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home SDhire</title>

    <link rel="stylesheet" href="/../home/css/table_job.css"> <!-- โพสต์งาน -->
    <link rel="stylesheet" href="/../home/css/buttom_sw.css"> <!-- กดสลับงานกับโพสต์ -->
    <link rel="stylesheet" href="/../home/css/Tem_home_HF.css"> <!-- หัวกับท้าย -->
    <link rel="stylesheet" href="/../home/css/Tem_main.css"> <!-- ตัวเนื้อหา  -->


</head>

<body>
    <div class="content-wrapper">
        <header>
            <a href="/" style="text-decoration: none; color: inherit;">
                <h2>SDhire</h2>
            </a>
            <div class="profile_container">
                <div class="buttom_header">
                    <button type="button" class="profile_button" onclick="toggleDropdown()">
                        <div class="photo_profile">
                            <% if(userdata.profile_image){ %>
                                <img src="/imageForTest/<%= userdata.profile_image %>"
                                    alt="<%= userdata.profile_image%>">
                                <% } else{%>
                                    <img src="https://ui-avatars.com/api/?name=<%= userdata.username || 'User' %>"
                                        alt="โปรไฟล์">
                                    <% }%>
                        </div>
                        <span>Profile</span>
                    </button>
                </div>

                <div class="data_box" id="myDropdown">
                    <div class="user_infor">

                        <% if(userdata.profile_image){ %>
                            <img src="/imageForTest/<%= userdata.profile_image %>" alt="<%= userdata.profile_image%>">
                            <% } else{%>
                                <img src="https://ui-avatars.com/api/?name=<%= userdata.username || 'User' %>"
                                    alt="โปรไฟล์">
                                <% }%>

                                    <div class="user_name">
                                        <% if(userdata.roles=="student" ) {%>
                                            <h1>
                                                <%= userdata.firstname %>
                                                    <%= userdata.lastname %>
                                            </h1>
                                            <% }else{ %>
                                                <h1>
                                                    <%=userdata.username%>
                                                </h1>
                                                <% } %>
                                                    <small></small><span class="status-dot"></span> สถานะ : <%=
                                                        userdata.roles %></small>
                                    </div>
                    </div>

                    <div class="button_VO">
                        <% if(userdata.roles=="student" ){%>
                            <a href="/home/profilestudent">
                                <button class="b_view">ดูโปรไฟล์</button>
                            </a>
                            <% } else{ %>
                                <a href="/home/profilegeneral">
                                    <button class="b_view">ดูโปรไฟล์</button>
                                </a>
                                <% } %>
                                    <a>
                                        <form action="/logout" method="POST">
                                            <button class="b_logout" type="submit">ออกจากระบบ</button>
                                        </form>
                                    </a>
                    </div>
                </div>
            </div>
        </header>

        <!-- --------------------------------------------------------------------------------------------------------------------- -->
        <main>
            <div class="hero">
                <div class="text_recommend">
                    <h1>พื้นที่รวมงานฟรีแลนซ์<br>สำหรับเด็กมหาลัย</h1>
                    <p>รวมทุกโอกาสงานสำหรับนักศึกษา ไม่ว่าจะหาคนทำงานหรือหางานเอง<br>
                        พร้อมระบบโปรไฟล์ที่ช่วยสร้างพอร์ตให้เติบโต</p>
                    <% if(userdata.roles=="student" ){ %>
                        <a href="/student/post_skill" class="btn-post">โพสต์</a>
                        <% } else {%>
                            <a href="/post/create" class="btn-post">โพสต์</a>
                            <% } %>
                </div>
                <div class="img_right">
                    <img src="../photo/profile.png" alt="profile">
                </div>
            </div>

            <div class="form_input">
                <form id="searchForm">
                    <img src="../icon/search.png">
                    <input type="search" id="search" placeholder="ค้นหา">
                    <button id="reset" type="reset">ล้าง</button>
                    <button id="submit" type="submit">ค้นหา</button>
                </form>
            </div>
            <section class="category-showcase">
                <div class="cat-header">
                    <h3>หมวดหมู่งานยอดนิยม</h3>
                    <a href="#" class="see-more">ดูทั้งหมด <i class="fa-solid fa-arrow-right"></i></a>
                </div>

                <div class="cat-grid">
                    <a href="#" class="cat-card-icon color-1">
                        <div class="icon-box">
                            <img src="../icon/package.png">
                        </div>
                        <div class="cat-info">
                            <span>รับจ้างทั่วไป</span>
                            <small>
                                <%= jobcount["รับจ้างทั่วไป"]||0%> งาน
                            </small>
                        </div>
                    </a>
                    <a href="#" class="cat-card-icon color-2">
                        <div class="icon-box">
                            <img src="../icon/programming.png">
                        </div>
                        <div class="cat-info">
                            <span>เขียนโปรแกรม</span>
                            <small>
                                <%= jobcount["เขียนโปรแกรม"]||0%> งาน
                            </small>
                        </div>
                    </a>

                    <a href="#" class="cat-card-icon color-3">
                        <div class="icon-box">
                            <img src="../icon/art-design.png">
                        </div>
                        <div class="cat-info">
                            <span>กราฟิกดีไซน์</span>
                            <small>
                                <%= jobcount["กราฟิกดีไซน"]||0%> งาน
                            </small>
                        </div>
                    </a>

                    <a href="#" class="cat-card-icon color-4">
                        <div class="icon-box">
                            <img src="../icon/video.png">
                        </div>
                        <div class="cat-info">
                            <span>ตัดต่อวิดีโอ</span>
                            <small>
                                <%= jobcount["ตัดต่อวิดีโอ"]||0%> งาน
                            </small>
                        </div>
                    </a>

                    <a href="#" class="cat-card-icon color-5">
                        <div class="icon-box">
                            <img src="../icon/language.png">
                            </i>
                        </div>
                        <div class="cat-info">
                            <span>แปลภาษา</span>
                            <small>
                                <%= jobcount["แปลภาษา"]||0%> งาน
                            </small>
                        </div>
                    </a>

                    <a href="#" class="cat-card-icon color-6">
                        <div class="icon-box">
                            <img src="../icon/thesis.png">
                            </i>
                        </div>
                        <div class="cat-info">
                            <span>การศึกษา</span>
                            <small>
                                <%= jobcount["การศึกษา"]||0%> งาน
                            </small>
                        </div>
                    </a>

                    <a href="#" class="cat-card-icon color-1">
                        <div class="icon-box">
                            <img src="../icon/photo-camera.png">
                            </i>
                        </div>
                        <div class="cat-info">
                            <span>ถ่ายภาพ</span>
                            <small>
                                <%= jobcount["ถ่ายภาพ"]||0%> งาน
                            </small>
                        </div>
                    </a>

                    <a href="#" class="cat-card-icon color-2">
                        <div class="icon-box">
                            <img src="../icon/music.png">
                        </div>
                        <div class="cat-info">
                            <span>ดนตรี และเสียง</span>
                            <small>
                                <%= jobcount["ดนตรีและเสียง"]||0%> งาน
                            </small>
                        </div>
                    </a>

                    <a href="#" class="cat-card-icon color-3">
                        <div class="icon-box">
                            <img src="../icon/folder.png">
                        </div>
                        <div class="cat-info">
                            <span>เอกสาร</span>
                            <small>
                                <%= jobcount["เอกสาร"]||0%> งาน
                            </small>
                        </div>
                    </a>

                    <a href="#" class="cat-card-icon color-4">
                        <div class="icon-box">
                            <img src="../icon/technical.png">
                        </div>
                        <div class="cat-info">
                            <span>ซ่อมแซม</span>
                            <small>
                                <%= jobcount["ซ่อมแซม"]||0%> งาน
                            </small>
                        </div>
                    </a>

                    <a href="#" class="cat-card-icon color-5">
                        <div class="icon-box">
                            <img src="../icon/tarot.png">
                        </div>
                        <div class="cat-info">
                            <span>สายมู</span>
                            <small>
                                <%= jobcount["สายมู"]||0%> งาน
                            </small>
                        </div>
                    </a>
                </div>
            </section>

            <h3 class="section-title">งานแนะนำสำหรับคุณ</h3>

            <div class="post_sw">
                <div class="toggle_sw">
                    <button class="toggle_skill">โพสต์รับงาน</button>
                    <button class="toggle_job">โพสต์งาน</button>
                </div>
                <div class="main_post">
                </div>
                <div class="post_skill">
                    <% if(job.length) { %>
                        <% job.forEach((job)=>{ %>
                            <a href="/home/viewStdPost/<%= job.job_id %>" class="card-link">
                                <div class="card">
                                    <% if(job.service_image){ %>
                                        <img src="/imageForTest/<%= job.service_image %>" alt="<%= job.service_image%>"
                                            class="card-img">
                                        <% } else{%>
                                            <img src="https://ui-avatars.com/api/?name=<%= job.username || 'User' %>"
                                                alt="โปรไฟล์" class="card-img">
                                            <% }%>
                                                <div class="card-content">
                                                    <div class="profile-area">

                                                        <% if(job.profile_image){ %>
                                                            <img src="/imageForTest/<%= job.profile_image %>"
                                                                alt="<%= userdata.profile_image%>" class="avatar">
                                                            <% } else{%>
                                                                <img src="https://ui-avatars.com/api/?name=<%= job.username || 'User' %>"
                                                                    alt="โปรไฟล์" class="avatar">
                                                                <% }%>

                                                                    <div>
                                                                        <font style="font-size: 20px;"><b>
                                                                                <%= job.username %>
                                                                            </b><br></font>
                                                                        <small>
                                                                            <%= job.job_type %>
                                                                        </small>
                                                                    </div>
                                                    </div>
                                                    <div class="title">
                                                        <%= job.title %>
                                                    </div>
                                                    <div class="desc">
                                                        <%= job.des_Cription %>
                                                    </div>
                                                    <div class="price">
                                                        <span>เริ่มต้น</span><br>
                                                        <b>
                                                            <%= job.budjet %> บาท
                                                        </b>
                                                    </div>
                                                </div>
                                </div>
                            </a>
                            <% }) %>
                                <% } else { %>
                                    <p>no job right now</p>
                                    <% } %>
                </div>
                <div class="pagination" id="pagination"></div>
                <!-- --------------------------------------------------------------------------------------------------------------------- -->
                <div class="post_job">
                    <div class="table-container">
                        <table>
                            <thead>
                                <tr>
                                    <th>ชื่องาน</th>
                                    <th>ประเภท</th>
                                    <th>งบประมาณ (บาท)</th>
                                    <th>ลงประกาศเมื่อ</th>
                                    <th>กำหนดส่ง</th>
                                    <th>จัดการ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(order.length>0){ %>
                                    <% order.forEach((orders)=>{%>
                                        <tr onclick="window.location.href='/Fronend_v1/post_user/post_gen.html?id=${orders.general_id}'"
                                            style="cursor:pointer;">
                                            <td>
                                                <%=orders.title%>
                                            </td>
                                            <td>
                                                <%=orders.title%>
                                            </td>
                                            <td>
                                                <%=Number(orders.budjet).toLocaleString()%>
                                            </td>
                                            <td>
                                                <%=orders.post_date%>
                                            </td>
                                            <td>
                                                <%=orders.deadline || "-" %>
                                            </td>
                                            <td>-</td>
                                        </tr>
                                        <%})%>
                                            <%}else{%>
                                                <tr>
                                                    <td colspan="6" style="text-align:center;">
                                                        ยังไม่มีงานที่คุณประกาศ
                                                    </td>
                                                </tr>
                                                <%}%>
                            </tbody>
                        </table>
                    </div>
                    <!-- pagination ของโพสต์งาน -->
                    <div class="pagination" id="jobPagination"></div>
                </div>
            </div>
        </main>
    </div>

    <!-- --------------------------------------------------------------------------------------------------------------------- -->
    <footer>
        <div class="footer-contact">
            <p>ติดต่อเรา</p>
            <p>sdhire67@gmail.com</p>
        </div>
        <div class="footer-bottom">
            <p>© 2025 SDhire, All right reserved</p>
        </div>
    </footer>


    <script src="/../homejs/profile_buttom.js"></script>
    <script src="/../homejs/view_post.js"></script>
    <script src="/../homejs/table.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>