<!DOCTYPE html>
<html lang="th">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SDhire</title>
  <link rel="stylesheet" href="/../jobtype/css/typestyle.css" >
  <link rel="stylesheet" href="/../jobtype/css/Tem_home_HF.css">
  <link rel="stylesheet" href="/../jobtype/css/home_logic.css">
</head>
<body>

  <!-- ===== Navbar ===== -->
  <header>        
            <a href="/" style="text-decoration: none; color: inherit;">
                <h2>SDhire</h2>
            </a>
            <div class="profile_container">
                <div class="buttom_header">
                    <button type="button" class="profile_button" onclick="toggleDropdown()">
                        <div class="photo_profile">
                            <% if(userdata.profile_image){ %>
                                <img src="/imageForTest/<%= userdata.profile_image %>"alt="<%= userdata.profile_image%>">
                                    
                            <% } else{%>
                                <img src="https://ui-avatars.com/api/?name=<%= userdata.username || 'User' %>"alt="โปรไฟล์">
                                    
                            <% }%>
                        </div>
                        <span>Profile</span>
                    </button>
                </div>

                <div class="data_box" id="myDropdown">
                    <div class="user_infor">
                      <% if(userdata.profile_image){ %>
                        <img src="/imageForTest/<%= userdata.profile_image %>"alt="<%= userdata.profile_image%>">            
                      <% } else{%>
                        <img src="https://ui-avatars.com/api/?name=<%= userdata.username || 'User' %>"alt="โปรไฟล์">
                      <% }%>  
                      <div class="user_name">
                         <%if(userdata.roles=="student"){%>   
                          <h1><%=userdata.firstname%> <%=userdata.lastname%></h1>
                          <%}else{%>
                          <h1><%=userdata.username%></h1>
                          <%}%>   
                          <p>✅ สถานะ : <%=userdata.roles%></p>
                        </div>
                    </div>
                    
                    <div class="button_VO">
                        <%if(userdata.roles == "student"){%>
                          <a href="/home/profilestudent/<%=userdata.ID%>">
                              <button class="b_view">ดูโปรไฟล์</button>
                          </a>
                        <%}else{%>
                          <a href="/home/profilegeneral/<%=userdata.ID%>">
                              <button class="b_view">ดูโปรไฟล์</button>
                          </a>
                        <%}%>
                        <a href="/logout" >           
                            <button class="b_logout">ออกจากระบบ</button>
                        </a> 
                    </div>
                </div>
            </div>
        </header>

  <!-- ===== Page ===== -->
  <main class="container">
    <div class="page-wrapper">
      <section class="main-box">

        <!-- ===== Category ===== -->
        <div class="category">
          <div class="path" id="categoryPath">
            ประเภทงาน : <a href="/home/filter/<%=jobtype%>"><%=jobtype%></a> &gt; <a href="/home">ทั้งหมด</a>
          </div>

        

        <!-- ===== Content ===== -->
        <div class="content">

          <!-- Sidebar -->
          <aside class="sidebar">
            <h3>ตัวคัดกรองราคา</h3>
            <input type="text" placeholder="งบประมาณที่คุณมีอยู่" />
            <h3>เรียงตาม</h3>
            <div class="price-tabs">
                <button class="tab price">คะแนนรีวิว</button>
                <button class="tab price">จำนวนงานที่รับ</button>
                <button class="tab price">ราคา (ต่ำ-สูง)</button>
                <button class="tab price">ราคา (สูง-ต่ำ)</button>
            </div>
          </aside>

          <!-- Posts -->
          <section class="post-area">
            <div class="grid">

              <!-- Card -->
              <% if(post.length) { %>
                        <% post.forEach((job)=>{ %>
                            <a href="/home/viewStdPost/<%= job.job_id %>" class="card-link">
                                <div class="card">
                                    <% if(job.service_image){ %>
                                        <img src="/imageForTest/<%= job.service_image %>" alt="<%= job.service_image%>" class="card-img">       
                                    <% }else{%>
                                        <img src="https://ui-avatars.com/api/?name=<%= job.username || 'User' %>"alt="โปรไฟล์" class="card-img">     
                                    <% }%>
                                        <div class="card-content">
                                            <div class="profile-area">

                                                
                                                    <div>
                                                        <font style="font-size: 20px;"><b><%= job.username %></b><br></font>    
                                                            <small><%= job.job_type %> </small>
                                                    </div>                        
                                                </div>                       
                                                    <div class="title">
                                                        <%= job.title %>
                                                    </div>
                                                    <div class="desc">
                                                        <%= job.des_Cription %>
                                                    </div>
                                                    <div class="price">
                                                        <span>เริ่มต้น</span><br>
                                                        <b>
                                                            <%= job.budjet %> บาท
                                                        </b>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    <%})%>
                                <%}else{%>
                                    <p>no job right now</p>
                                <%}%>

              

            </div>
          </section>

        </div>
      </section>
    </div>
  </main>
  
  <script src="/../profile_buttom.js"></script>
  <script src="/../typestyle.js"></script>
  <script src="/../homejs/profile_buttom.js"></script>
</body>
</html>