<!DOCTYPE html>
<html lang="th">

<head>
  <meta charset="UTF-8">
  <title>โพสต์งาน | SDhire</title>
  
  <link rel="stylesheet" href="css/post_work.css">
  <link rel="stylesheet" href="css/Template_HF.css">
</head>

<body>
  <div class="content-wrapper">
    <header>
      <a href="/SDhire/Home/home_stu.html" style="text-decoration: none; color: inherit;">
        <h2>SDhire</h2>
      </a>
      <div class="profile_container">
        <div class="buttom_header">
          <button type="button" class="profile_button" onclick="toggleDropdown()">
            <div class="photo_profile">
              <img src="../photo/profile_user.jpg" alt="โปรไฟล์">
            </div>
            <span>Profile</span>
          </button>
        </div>

        <div class="data_box" id="myDropdown">
          <div class="user_infor">
            <img src="/imageForTest/<%= userdata.profile_image %>" alt="โปรไฟล์">
            <div class="user_name">
              <h1>
                <%= userdata.username %>
              </h1>
              <p>✅ สถานะ : <%= userdata.roles %>
              </p>
            </div>
          </div>

          <div class="button_VO">
            <% if(userdata.roles=="student" ){ %>
              <a href="/home/profilestudent/<%=userdata.ID%>">
                <button class="b_view">ดูโปรไฟล์</button>
              </a>
              <% } else { %>
                <a href="/home/profilegeneral/<%=userdata.ID%>">
                  <button class="b_view">ดูโปรไฟล์</button>
                </a>
                <% } %>
                  <a href="/logout">
                    <button class="b_logout">ออกจากระบบ</button>
                  </a>
          </div>
        </div>
      </div>
    </header>

    <main>
      <!-- Main Card -->
      <div class="container">
        <h1>โพสต์งาน</h1>

        <div class="form-group">
          <label>ชื่องาน</label>
          <input type="text" id="title" placeholder="ชื่องาน">
        </div>

        <div class="form-group">
          <label>อธิบายเกี่ยวกับรายละเอียดงาน</label>
          <textarea id="detail" rows="6"></textarea>
        </div>

        <div class="row">
          <div class="form-group">
            <label>ประเภท</label>
            <select id="category">
              <option alue="" disabled selected hidden>เลือกหมวดหมู่</option>
              <option value="0">งานทั่วไป</option>
              <option value="1">เรียนพิเศษ</option>
              <option value="2">ภาพถ่าย-วิดีโอ</option>
              <option value="3">ออกแบบกราฟิก</option>
            </select>
          </div>

          <div class="form-group">
            <label>งบประมาณ (บาท)</label>
            <input type="number" id="price" placeholder="ระบุงบประมาณ">
          </div>
        </div>

        <div class="form-group">
          <label>กำหนดส่งงาน</label>
          <input type="date" id="deadline">
        </div>

        <button class="btn-post" onclick="submitwork()">โพสต์</button>

      </div>
    </main>
  </div>
  <footer>
    <div class="footer-contact">
      <p>ติดต่อเรา</p>
      <p>sdhire67@gmail.com</p>
    </div>
    <div class="footer-bottom">
      <p>© 2025 SDhire, All right reserved</p>
    </div>
  </footer>

  <script src="post_table.js"></script>
  <script src="swith_PR.js"></script>
</body>

</html>